<h1><?= $param['info'] ?></h1>

<ul>
  <li>
    <strong>Route: </strong> /contact
  </li>
  <li>
    <strong>Controller: </strong> IndexController
  </li>
  <li>
    <strong>Action: </strong> contact
  </li>
  <li>
    <strong>View: </strong> /App/Views/index/contact.phtml
  </li>
</ul>

<hr />

<?php foreach($this->params->posts as $post): ?>
  <h3><?= $post['title'] ?></h3>
  <p><?= $post['body'] ?></p>
  <hr />
<?php endforeach; ?>
