<h1><?= $this->params->info ?></h1>

<ul>
  <li>
    <strong>Route: </strong> /
  </li>
  <li>
    <strong>Controller: </strong> IndexController
  </li>
  <li>
    <strong>Action: </strong> index
  </li>
  <li>
    <strong>View: </strong> /App/Views/index/index.phtml
  </li>
</ul>

<hr />

<?php foreach($this->params->posts as $post): ?>
  <h3><?= $post['title'] ?></h3>
  <p><?= $post['body'] ?></p>
  <hr />
<?php endforeach; ?>
